{%load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Trang nhân viên</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'style.min.css'%}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  /> 
 
</head>


<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-2 logo">
                    <img class="w-100" src="{%static 'logo.png'%}" alt="">
                </div>
                <div class="col-4">
                    <p>CÔNG TY THU GOM RÁC THẢI UWC 2.0</p>
                </div>
                <div class="col-4">
                    <div class="nav mt-4">
                        <ul>
        
                            <li class="mx-3">
                                <a href="\">Trang chủ</a>
                            </li>
                            <li>
                                <a href="staff">Nhân viên</a>
                            </li>
                            <li class="mx-3">
                              <a href="login">Đăng nhập</a>
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="search col-3">
                  <form class="d-flex">
                    <input class="form-control mx-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" style="width: 200px;" type="submit">Tìm kiếm</button>
                  </form>
                </div>
            </div>
            
            
        </div>
    </header>

    <div class="nhiemVu">
        <div class="row"> 
            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="staff">Nhân viên</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="vehicle">Phương tiện</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="MCP">Trạm thu gom</a>
                    </li>
                    
                  </ul>
            </div>
            <div class="col-10">
              <div class="task">
                  <div class="container">
                    <br>
                      <div class="task-title">
                          <h1>Nhân viên</h1>
                      </div>
                      <div class="task-table">
                        <table class="table bg-white " style="border-radius:6px">
                          <thead>
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Tên Nhân Viên</th>
                              <th scope="col">Tuổi</th>
                              <th scope="col">Số điện Thoại</th>
                              <th scope="col">Địa chỉ</th>
                              <th scope="col">Trình trạng hoạt động</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody id="default" class="tblTask">
                            {%for employee in employees%}
                              <tr>
                                <td>{{employee.id}}</td>
                                <td>{{employee.name}}</td>
                              <td>{{employee.age}}</td>
                              <td>{{employee.phone_num}}</td>
                              <td>{{employee.address}}</td>
                              <td>{{employee.curr_status}}</td>
                              <td>
                                <div class="button">
                                  <a class="btn btn-warning" href="{%url 'staff_manage' employee.id %}">Giao nhiệm vụ</a>
                                  <a class="btn btn-danger" href="{%url 'delete_employee' employee.id%}">Xóa</a>
                                  <a class="btn btn-primary" href="{%url 'update_employee' employee.id%}">Sửa</a>
                                </div>
                              </td>
                              </tr>
                              {%endfor%}
                          </tbody>
                        </table>
                        </div>
                        <div class="button">
                            <button class="btn btn-success" id="themTask" onclick="themForm()">Thêm</button>
                        </div>
                        <div id="form" class="modal" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Thêm công việc</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeForm()"></button>
                              </div>
                              <div class="modal-body">
                                <div class = "form_add_task"> 
                                
                                
                                  <form action="" method=POST>
                                      {%csrf_token%}
                                      {{form.as_p}}
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeForm()">Đóng</button>
                                        <button id="xac-nhan" type="submit" class="btn btn-primary">Xác nhận</button>
                                      </div>
                                  </form>
                               
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
        <footer class="footer">
            <div class="container">
              <div class="contact-us">
                <h3>Contact Us</h3>
                <div class="row">
                    <div class="col-4">
                        <ul>
                            <li>
                              <i class="fa fa-map-marker-alt"></i>
                              <span
                                >268 Lý Thường Kiệt, Quận 10, Thành phố Hồ Chí Minh.</span
                              >
                            </li>
                           
                          </ul>
                    </div>
                    <div class="col-8">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1vdueGlnuB2KrfUtdSZnIAtL1UaCWLwzG&amp;hl=en" width="100%" style="display: block; border: 0;" height="300"></iframe>
                    </div>
                </div>
                
              </div>
              <hr />
              <div class="copyright">
                <p>©  2020 Bản quyền thuộc về UWC 2.0. Tất cả các quyền được bảo hộ.</p>
              </div>
            </div>

    
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="{% static 'PhuongTien.js'%}"></script>
  <script src="{% static 'EditphuongTien.js'%}"></script>
</body>

</html>
